  #playButton{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    bottom: 1px;
    width: 50%;
    margin: auto;
  }
  #playButton:hover{
    background:#fff;
    color:#1AAB8A;
  }
  #playButton:before,#playButton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  #playButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #playButton:hover:before,#playButton:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  #homeTitle {
    margin-top: 35vh;
  }