#game {
    width: 800px;
    height: 400px;
    border: 3px solid black;
    margin: auto;
}

#playerBox {
    display: inline-flex;
    border: 1px solid green;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

#canv {
    float: left;
}

#word {
    width: 494px;
    height: 194px;
    float: right;
    position: relative;
}

#wordInside {
    position: absolute;
    bottom: 0;
    width: 494px;
    /* vertical-align: bottom; */
}

#wordInside h3 {
    /* bottom: 0; */
    margin: 0;
}

#wrongLetters {
    position: relative;
    width: 494px;
    height: 100px;
}

.letter {
    width: 30px;
    height: 21.4px;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 0 3px;
}

/* Gjetting */
#guess {
    width: 494px;
    height: 200px;
    float: right;
}

#guessLetter {
    display: none;
}

form input {
    margin: 3px;
}




#chat {
    width: 600px;
    height: 200px;
    border: 2px solid black;
    margin: auto;
    margin-top: 5px;
    overflow-y: auto;
}

#chat p {
    margin: 2px;
}