{% extends "layout.html" %}
{% block head %}
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
        <title>Multiplayer hangman</title>
    </head>
{% endblock %}

{% block content %}
<div id="homeTitle">
    <h1>Welcome to this multiplayer hangman game</h1>
    <h3>Source code at: <a href="https://github.com/sorensenmarius/mpHangman/" target="_blank">https://github.com/sorensenmarius/mpHangman/</a></h3>
</div>
<a href="/play"><div id="playButton">Let's play!</div></a>
{% endblock %}